@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --primary-color: #d3d3d3;
  --secondary-color: #ec5242;
  --thirenary-color: #272a31;
}

* {
  box-sizing: border-box;
}

body, h1, h2, h3, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", "Inter", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

.header {
   background-color: var(--primary-color);
   height: 70px;
   padding: 10px;
}


.top-nave{
  display: grid;
}

.nav-menu {
  display: flex;
  gap: 33px;
  display: none;
}

.mobile-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 5;
  display: flex;
  padding: 10%;
  flex-direction: column;
  background-color: var(--primary-color);
  justify-content: flex-start;
  align-items: flex-start;
  animation-name: fadein;
  animation-duration: 0.4s;
  color: blue;
}

.nav-item {
  list-style-type: none;
}

.nav-item {
  list-style-type: none;
  margin-top: 11px;
  gap: 20px;
}

a.nav-link {
  text-decoration: none;
  padding: 10px;
  color: #344563;
  font-size: 1.8em;
  font-weight: 600;
  transition: 0.4s ease;
}

a.nav-link:hover {
  color: var(--secondary-color)
}

.logo-brand {
  width: 66px;
  height: 66px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--thirenary-color);
}

.hamburger {
  cursor: pointer;
  margin: 10px 2px 1px 11px;
  float: left;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  width: 22px;
  height: 2px;
  margin: 5px auto;
  background-color: var(--secondary-color);
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  width: 22px;
  height: 2px;
  margin: 5px auto;
  background-color: var(--secondary-color);
  transform: translateY(-8px) rotate(-45deg);
}

.welcome {
  background-image: url("images/main-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
}

.welcome-info {
  padding: 4%;
  color: var(--secondary-color)
}

.welcome-text {
  display: block;
  margin: 11px 5px;
}

.big-text {
  font-size: 2em;
  font-weight: 800;
  line-height: 1.3em;
}

.academy-goal {
  padding: 2%;
  width: 98%;
  border: 3px solid white;
  background-color: #f7f7f8;
  border-radius: 5px;
  color: #000;
  margin-top: 25px;
}

.location-time {
  margin-top: 20px;
}

.time {
  font-size: 1.5em;
  font-weight: 900;
  line-height: 1em;
  color: #000;
  margin-top: 20px;
}

.location {
  color: #000;
  padding-bottom: 33px;
}

.logo-link, .signUp, .see-all-program  {
  display: none;
}


/* main program styles strt */
.main-program {
  background-image: url("images/main-program-img.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.program-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding: 5px;
  margin-top: 22px;
}

.main-program-title {
  padding: 40px 5px 5px 5px;
  text-align: center;
  color: #fff;
}

.horizontal-line {
  width: 9%;
  height: 2px;
  background-color: var(--secondary-color);
  display: flex;
  margin: 0 auto;
}

.program-item {
  display: flex;
  flex-direction: row;
  color: #fff;
  background-color: rgb(255 255 255 / 10%);
  padding: 2%;
  margin: 5px;
}

.program-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
 }
 

.program-img {
  width: 60px;
}

.program-title {
  width: 25%;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--secondary-color);
  padding-top:20px;
  text-align: center;
}

.pro-description {
  width: 58%;
  font-size: 0.8em;
  margin: 5px;
  text-align: center;
}

.main-program-link {
  padding: 33px 5px;
}


button.join {
  border: none;
  color: white;
  margin: 0 auto;
  padding: 22px 33px;
  cursor: pointer;
  background-color: var(--secondary-color);
  display: grid;
}

.speakers {
  padding: 3%;
}

.speaker-container {
  display: grid;
  grid-template-columns: column;
  flex-wrap: wrap;
  width: 100%;
}

.speaker-items{
  display: flex;
  justify-content: space-between;
  margin: 33px 1px 1px 1px;
}

.speaker-img {
  width: 30%;
}

.speaker-image {
  width: 99px;
  border: 1px solid var(--primary-color); 
  border-radius: 4px; 
}

.speaker-info {
  width: 68%;
}

.speaker-headline {
  text-align: center;
  padding: 2%;
}

hr {
  width: 9vw;
  border-bottom: 2px solid var(--secondary-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
  margin-top: 1px;
}

.position {
  color: var(--secondary-color);
}

.line-container {
  border-bottom: 1px solid var(--secondary-color); 
  margin: 10px;
  width: 10%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--thirenary-color);
  padding: 2%;
  margin-top: 33px;
}

.partners-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-partners {
  padding: 10px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.partners {
  color: #fff;
}

.copyright-container {
  display: flex;
  gap: 20px;
  padding: 2%;
  width: 82%;
  margin: 0 auto;
}

.copyright-text {
   color: var(--thirenary-color);
  font-size: 0.8em;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.copyright-text h3 {
  font-size: 1.2em;
  font-weight: bolder;
}

.copyright-container,
footer {
  display: none;
}

.speaker-toggle {
  display: none;
}

.toggleButton {
  display: block;
  width: 98%;
  padding: 10px 15px;
  margin-top: 22px;
}

.recent-projects {
  width: 88%;
  margin: 0 auto;
  text-align: center;
}

.first-porject {
  background-image: url("images/project.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 33vh;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 2000px rgba(105, 35, 3, 0.81);
}

.second-project {
  background-image: url("images/project2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 33vh;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 33px;
  box-shadow: inset 0 0 0 2000px rgba(105, 35, 3, 0.81);
}

/* about page style */
.about-welcome {
  background: url("images/about-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--primary-color);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-text {
  color: var(--secondary-color);
  padding:33px 2px 2px 2px;
}
.about-academy-goal {
  background-color: var(--primary-color);
  margin: 22px 12px;
  border: 2px solid var(--primary-color);
  padding: 5px;
  background-color: #fff;
  margin-top: 33px;
}

.about-big-text {
  color: var(--secondary-color);
  font-size: 2em;
  line-height: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 4px;
}

.about-cotact {
  margin: 10px;
}

.contat-guid {
  padding: 3%;
  font-size: 1.1em;
  line-height: 1.5em;
  font-weight: bold;
}

.email {
  font-style: italic;
  text-decoration: underline;
  padding-bottom: 20px;
}

.footer, .copyright {
  display: flex;
}

.footer-partners > * {
  width: 80px;
}

.logo-container {
  text-align: center;
  margin-top: 22px;
}

.sazish-acadmy-brand {
  padding: 5px;
  margin: 11px 2px;
}

.academy-logo {
  border: 1px solid var(--primary-color);
  width: 82%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10%;
}

.academy-logo-text {
  display: grid;
  justify-items: end !important;
  font-size: 40px;
  letter-spacing: -2.8px;
  word-spacing: 2px;
  font-variant: small-caps;
  font-weight: bold;
  text-shadow: var(--secondary-color) 1px 0px 11px;
  color: var(--primary-color);
  text-decoration: none;
}

.academy-logo-text:hover {
  color: var(--secondary-color);
  text-shadow: var(--thirnary-color) 1px 0px 11px;
}

.line-break {
  border: 1px solid var(--primary-color);
  margin: 22px 1px;
}

.project-images a {
  text-decoration: none;
  color: #fff;
}

.intro-to-project {
  margin: 2px 2px 22px 2px;
  text-align: center;
}


@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }

 .top-nave{
    grid-template-columns:  1fr 3fr 1fr;
  }
  
  a.nav-link {
    font-size: 1em;
  }

  .logo-link {
    display: grid;
    justify-items: end !important;
    font-size: 40px;
    letter-spacing: -2.8px;
    word-spacing: 2px;
    font-variant: small-caps;
    font-weight: bold;
    text-shadow: var(--secondary-color) 1px 0px 11px;
    color: var(--primary-color);
    text-decoration: none;
  }

  .logo-link:hover {
    color: var(--secondary-color);
    text-shadow: var(--thirnary-color) 1px 0px 11px;
  }

  .hamburger, button.join, .toggleButton{
    display: none;
  }
  
  .nav-menu {
    display: flex;
    justify-self: end;
  }

  .signUp {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid var(--secondary-color);
    padding: 5px 10px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    width: 99px;
    height: 38px;
    background-color: var(--primary-color);
    margin-top: 5px;
  }

  .signUp:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
  }

  .welcome-info {
    padding: 5% 10%;
  }
  
  .academy-goal {
    padding: 2%;
    width: 54%;
  }

  .program-container {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    padding: 1px;
    margin-top: 33px;
    width: 82%;
   
  }

  .program-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .program-img {
    width: 66px;
  }

  .program-title {
    width: 98%;
  }
  
  .pro-description {
    width: 98%;
  }

  a.see-all-program {
    display: block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
 
  }
  .see-all {
    border-bottom: 2px solid #fff;
    color: #fff;
  }

 .speaker-headline {
    padding: 1%;
  }

  hr {
    width: 5vw;
  }

  .speaker-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 82%;
    margin: 0 auto;
    justify-content: space-between;
  }

  .speaker-items {
    justify-content: space-around;
  } 

  .speaker-image {
    width: 133px;
  }

  .footer-partners img {
    width: 100px;
  }

.copyright-container,
footer {
  display: flex;
}

/* about page style */
.about-info {
  width: 60%;
  margin: 0 auto;
  padding: 3%;
}

.about-big-text {
  width: 80%;
  margin: 0 auto;
  padding-top: 44px;
}

.about-academy-goal {
  padding: 3%;
}

.about-text {
  display: none;
}

.contat-guid {
  padding: 3% 3% 1% 3%;
} 

.project-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:22px;
  width: 72%;
  margin: 0 auto;
  padding: 4%;
}

.logo-container {
  width: 86%;
  display: grid;
  margin: 0 auto;
  padding: 5%;
}

.sazish-acadmy-brand {
  width: 70%;
  margin: 0 auto;
}

.academy-logo {
  width: 44%;
  padding: 4%;
  margin-top: 22px;
}

.academy-logo-text {
  font-size: 56px;
}

.second-project {
  margin-top: 1px;
}

}
